DISCORD_TOKEN=
DISCORD_APPLICATION_ID=
BOT_LANGUAGE=pt-BR

#Optional
BOT_ACTIVITY_TYPE=listening
BOT_ACTIVITY_MESSAGE="The Smiths"

YT_DLP_PATH=yt-dlp
YT_DLP_EXTRA_ARGS=
YT_DLP_TIMEOUT_SECONDS=20
AUTO_LEAVE_SECONDS=120
MAX_QUEUE_SIZE=50
MAX_CONCURRENT_RESOLUTIONS=4
RUST_LOG=info
